<h1>movies list</h1>

<ul>
  <% @movies.each do |movie|%>
    <li><%= movie.title %></li>
    <li><%= movie.rating %></li>
    <p>
      <%= link_to "Show movie details", movie %>
    </p>
  <% end %>
</ul>

<%= link_to "add new movie", new_movie_path(@movie)%>
